.btn-plus {
	font-size: 24px;
	font-weight: bold;
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

/*
** Standard box
*/
.box {
	position: relative;
	margin: 0 auto;
	background-color: gray;
	width: 40%;
	height: 200px;
	z-index: 9999;
	border: 1px #000000 solid;
	border-collapse: 25 25 25 25;
}

/*
** Confirmation
*/
.confirm-remove {
    position:absolute;
    width: 30%;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding:20px;
    padding-top: 30px;
    border: 1px solid #000000;
    background-color: #FFFAFA;
    border-radius: 10px 10px 10px 10px;
    z-index:1000;
    display: none;
}